<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Shopping For Stuff" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            Cart
            <% if cart.present? %>
              <sup> <%= cart.size %> </sup>
              <ul>
                <% cart.each do |product| %>
                  <li>
                    <%= button_to '❌', cart_path(product), method: :delete %> <%= product.name %>
                  </li>
                <% end %>
              </ul>
            <%end%>
          </li>
        </ul>
      </nav>
      <h1><%= link_to "Buy Our Stuff", root_path %></h1>
      <h3>Make Us Rich</h3>
    </header>
    <main>
      <% flash.each do |type, msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <footer>
      <hr>
      <p><span>🐐</span> Goats in Coats <span>🧥</span> - Copywrong <%= Time.current.year %></p>
    </footer>
  </body>
</html>
